<div class="card m-3 mx-auto" style="width: 32rem;">
    <%= render 'shared/user', user: @user %>
  <div class="card-body">

    <p class="card-text">Bio: <br><%= @user.bio%></p>
  </div>
  <% @user.three_most_recents_posts.each do |post| %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <a href="/users/<%= @user.id %>/posts/<%= post.id %>" class="text-decoration-none">
            <div class="mb-3"><%= render 'shared/post', post: post %></div>
        </a>
    </li>
  </ul>
    <% end %>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>