<div class="m-3 mx-auto" style="width: 32rem;">
    <%= render 'shared/user', user: @user %>
  <div class="card mb-3">
    <p class="card-title">Bio:</p> <br> <br>
    <p class="card-body"><%= @user.bio%></p>
  </div>


<% if @user.has_posts? %>
    <% @user.three_most_recents_posts.each do |post| %>
            <a href="/users/<%= @user.id %>/posts/<%= post.id %>" class="card text-decoration-none mb-3">
                <div><%= render 'shared/post', post: post %></div>
            </a>
        <% end %>
    <div class="text-center">
        <a href="/users/<%= @user.id %>/posts/" class="btn btn-primary mx-auto d-block" style="width: 150px;">Show Posts</a>
        <% else %>
                <a href="#" class="btn btn-primary mx-auto d-block disabled" style="width: 150px;">Show Posts</a>
<% end %>

    </div>
</div>