<%# HEADER FOR POSTS, TITLE, TEXT, COUNTERS %>
<div class="m-2">
        <h3 class="card-title">Title#<%= post.id %>: <%= post.title %></h5>
        <article class="card-text"><%= post.text %></article>
      <div class="self-align-end text-end">
        <p class="m-0 small text-muted">Likes: <%= post.likes_counter %></p>
        <p class="m-0 small text-muted">Comments: <%= post.comments_counter %></p>
      </div>
</div>
