<%# HEADER, POST, COMMENTS %>
<div class="container mt-5">
    <%= render 'shared/user', user: @author %>
      <% @posts.each do |post| %>
        <a 
        href="/users/<%= post.author.id %>/posts/<%= post.id %>" 
        class="card text-decoration-none <%= post.five_most_recent_comments.present? ? 'mb-0' : 'mb-3' %>">
            <div>
                <%= render 'shared/post', post: post %>
            </div>
        </a>
        <% if post.five_most_recent_comments.present? %>
        <div class="card mb-3">
            <%= render 'shared/comment', comments: post.five_most_recent_comments %>
                   
        </div>
        <% end %>
    <% end %>
</div>