<div class="container m-2 mx-auto">
    <div class="card mb-3">
        <div class="row m-2">
            <h2 class="card-title col-6">Post#<%= @post.id%> by <%= @post.author.name %></h2> 
            <span class="card-title col-6 self-align-end text-end small text-muted">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></span>
        </div>
        <br> <br>
        <p class="card-body"><%= @post.text %></p>
    </div>

<% if @post.comments.present? %>
    <div class="card">
        <%= render 'shared/comment', comments: @post.comments %>    
    </div>
    <% end %>



        <%= form_with(model: Comment.new, url: user_post_comments_path(@post.author, @post), method: :post) do |f| %>
            <div class="my-3">
                <%= f.text_area :text, placeholder: 'Add your comment...', class: 'form-control' %>
            </div>
    <div class="d-flex justify-content-center">
        <div class="mx-2">
            <%= f.submit 'Comment', class: 'btn btn-dark text-warning' %>
        <% end %>
        </div>
        <div class="mx-2">
        

              <%= render 'shared/like_toggle_button', post: @post, current_user: @current_user %>
        </div>
        </div>
        
    
</div>
