<div class="container m-2 mx-auto">
    <div class="card mb-3">
        <div class="row m-2">
            <h2 class="card-title col-6">Post#<%= @post.id%> by <%= @post.author.name %></h2> 
            <span class="card-title col-6 self-align-end text-end small text-muted">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></span>
                          <% if can? :destroy, @post %>
            <%= button_to 'Delete Post', user_post_path(@post.author, @post), method: :delete, class: 'btn btn-warning' %>    
              <% end %> 
        </div>
        <br> <br>
        <p class="card-body"><%= @post.text %></p>

          </div>

<% if @post.comments.present? %>
    <div class="card">
        <%= render 'shared/comment', comments: @post.comments %>      
    </div>

    <% end %>

    <div class="d-flex justify-content-center mt-3">
        <div class="mx-2">
    <%= link_to new_user_post_comment_path(@post.author, @post), class: 'btn btn-dark text-warning', role: 'button' do%>
        Add Comment
        <% end %>  
        </div>
        <div class="mx-2">
        

              <%= render 'shared/like_toggle_button', post: @post, current_user: @current_user %>
        </div>
        </div>
        
    
</div>
